
* {
 margin: 0;
 padding: 0;
}
header{
  width: 100%;
  background-color: blueviolet;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}
header nav ul{
  display: flex;
  list-style: none;
}
header nav a{
  display: block;
  padding: 2rem;
}
header nav button{
  width: 35px;
  height: 25px;
}
body {
  margin: 0;
}

h1{
  text-align: center;
}

select{
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
}

img{
  width:200px;
  height: 200px;
  padding-left: 2rem;
}
#foot, #tennis, #basket, #boxe{
  text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    
  }
  section{
    width: 100%; 
  }
  h2{
    margin-top: 3rem;
    text-align: center;
  }
  .visible{
    display: block;
  }
  .invisible{
    display: none;
  }
  @media screen and (max-width:1024px){
    header nav p{
      padding: 1rem;
    }
    header nav{
      display: block;
      position: relative;
    }
    header nav ul{
      display: none;
    }
    header ul.active{
      display: block;
    }
    header nav button{
      position: absolute;
      top: 1rem;
      right: 2rem;
      border-radius: none;
      border: none;
      cursor: pointer;
      border-top: 3px solid black;
      border-bottom: 3px solid black;
      background: transparent;
    }
    header nav button::after, header nav button::before{
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 3px;
      background-color: black;
      width: 100%;

    }
    header nav button.active{
      border:none;
    }
    header nav button::after{
      transform: translate(-50%, -50%) rotateZ(30deg);
    }
    header nav button::after{
      transform: translate(-50%, -50%) rotateZ(30deg);
    }
  }