
#modal{
    position: absolute;
}
  button{
    background-color: salmon;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    font-weight: bold;
  }

  button:hover{
    padding: 1rem 2.5rem;
    transition: 0.25s;
  }