* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

#voile {
  z-index: 10000;
  background-color: rgba(15, 15, 15, 0.2039215686);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

#buttonModal {
  background-color: transparent;
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem;
}

#buttonRight {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#buttonLeft {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header {
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
header nav {
  margin: auto;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 75px;
  height: 75px;
  text-align: left;
  top: 1rem;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul a {
  text-decoration: none;
  display: block;
  padding: 2rem;
  color: #5F5F5F;
}

main {
  letter-spacing: 0.05rem;
  width: 100%;
}
main h1 {
  text-align: center;
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
}
main section {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  max-width: 1500px;
  flex-wrap: wrap;
}
main section div {
  display: flex;
  flex-direction: column;
  width: 33%;
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
main section div .img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section div .loupe {
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
}
main section div h2 {
  text-transform: uppercase;
  margin-bottom: 2.25rem;
}
main section div img {
  margin-bottom: 2.25rem;
}
main section div p {
  margin-bottom: 1.875rem;
}

footer {
  padding: 2rem;
  text-align: center;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  header nav {
    display: block;
    text-align: center;
  }
  header nav .logo {
    position: absolute;
    left: 0;
    top: 0;
  }
  header nav ul {
    display: none;
  }
  header nav #buttonBurger {
    width: 15px;
    height: 25px;
    position: absolute;
    padding: 1rem 1.5rem;
    border: none;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background: transparent;
    right: 0.5rem;
    top: 1rem;
    cursor: pointer;
    transform: rotateZ(0deg);
  }
  header nav #buttonBurger::before,
  header nav #buttonBurger::after {
    content: "";
    height: 2px;
    width: 100%;
    right: 0;
    position: absolute;
    background-color: black;
  }
  header nav .active {
    border: none;
  }
  header nav .active::before {
    transform: rotateZ(45deg);
    border-top: none;
    border-bottom: none;
  }
  header nav .active::after {
    transform: rotateZ(-45deg);
  }
  header nav .open {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ECECEC;
  }
  main section div {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  main section div {
    width: 100%;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */