* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 18px;
}

#voile {
    z-index: 10000;
    background-color: #0f0f0f34;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

#buttonModal {
    background-color: transparent;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5rem;
}

#buttonRight {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#buttonLeft {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}



.topnav {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem 0;
 
    .topnav_link {
        color: black;
        padding: 12px;
        text-decoration: none;
    

    :hover {
        color: #0078b4;
    }
    }
    /* hide responsive menu */
    #topnav_hamburger_icon,
    #topnav_responsive_menu {
        display: none;
    }
    #desktop{
      list-style: none;
      display: flex;
      a{
        padding: 2rem;
        text-decoration: none;
        color: #333;
        &:hover{
          background-color: #333;
          color: #FFFFFF;
          transition: 0.3s;
        }
      }
    }
}

main {
    letter-spacing: 0.05rem;
    width: 100%;

    h1 {
        text-align: center;
        margin-top: 4.5rem;
        margin-bottom: 3.5rem;
    }

    section {
        display: flex;
        justify-content: flex-start;
        margin: auto;
        max-width: 1500px;
        flex-wrap: wrap;
        display: flex;

        div {
            display: flex;
            flex-direction: column;
            width: 33%;
            box-sizing: border-box;
            padding: 1.5rem 1.5rem 1.5rem 1.5rem;

            .img {
                width: 100%;
                object-fit: cover;
            }

            .loupe {

                right: 0;
                bottom: 0;
                width: 20px;
                height: 20px;
            }

            h2 {

                text-transform: uppercase;
                margin-bottom: 2.25rem;
            }

            img {
                margin-bottom: 2.25rem;
            }

            p {
                margin-bottom: 1.875rem;

            }
        }
    }
}

footer {
    padding: 2rem;
    text-align: center;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:1024px) {
   

    /* hide classic menu */
    #topnav_menu {
        display: none;
    }

    /* position home link at left and hamburger at right */
    #home_link {
        flex-grow: 1;
    }
    #root {
        position: relative;
        overflow-x: hidden;
      #desktop{
        display: none;
      }
        #topnav_responsive_menu {
          display: block;
          position: absolute;
          margin: 0;
          right: 0;
          top: 0;
          width: 100vw;
          height: 100vh;
          z-index: 99;
          transform-origin: 0% 0%;
          transform: translate(200%, 0);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      
          ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            margin: 0;
            right: 0;
            top: 0;
            min-width: 50vw;
            height: 100vh;
            padding: 56px 0 0;
            text-align: center;
            background: #ededed;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
      
            li {
              padding: 12px 24px;
      
              a {
                white-space: nowrap;
                color: #333;
                text-decoration: none;
                text-transform: uppercase;
              }
            }
          }
        }
      
        #topnav_responsive_menu.open {
          transform: none;
          position: fixed;
        }
      
        #topnav_hamburger_icon {
          display: block;
          position: relative;
          margin: 16px;
          width: 33px;
          height: 28px;
          z-index: 100;
          -webkit-user-select: none;
          user-select: none;
          cursor: pointer;
      
          span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            margin-bottom: 5px;
            background: black;
            border-radius: 3px;
            z-index: 100;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
      
            &:nth-child(1) {
              top: 0px;
              transform-origin: left top;
            }
      
            &:nth-child(2) {
              top: 12px;
              transform-origin: left center;
            }
      
            &:nth-child(3) {
              top: 24px;
              transform-origin: left bottom;
            }
          }
      
          &.open {
            span {
              background: #333;
      
              &:nth-child(1) {
                width: 110%;
                transform: rotate(45deg);
              }
      
              &:nth-child(2) {
                width: 0%;
                opacity: 0;
              }
      
              &:nth-child(3) {
                width: 110%;
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
      

    main {
        section {
            div {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        section {
            div {
                width: 100%;
                padding: 1.5rem 1.5rem 1.5rem 1.5rem;
            }
        }
    }
}